#root {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: 'Poppins', 'Arial', 'sans-serif';
    background-color: var(--color-bg);
}

main {
    flex-grow: 1;
}

a {
    color: var(--color-white);
}

.orange-text {
    color: var(--color-orange);
}