#root {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
    font-family: 'Poppins', 'Arial', 'sans-serif';
    transition: background-color 0.5s ease;
}

main {
    flex-grow: 1;
    padding-top: 106px;
}

@media screen and (min-width: 769px) {
    main {
        padding-top: 0;
    }
}

a {
    color: black;
}

@media screen and (min-width: 1024px) {
    a {
        color: var(--color-white);
    }
}

.orange-text {
    color: var(--color-orange);
}