@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Bebas+Neue:regular);

:root {
    --color-white: #FFFFFF;
    --color-white-sec: #E2E2E2;
    --color-white-ter: #8a8a8a;
    --color-orange: #FF914D;
    --color-bg: #35373DA6;
    --color-bg-portfolio: #202225;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
    height: 100dvh;
    overflow: hidden;
    color: var(--color-white);
    background-color: #35373D;
    background-image: url('/background-mobile.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width: 481px) {
    html {
        background-image: url('/background-tablet.png');
    }
}

@media screen and (min-width: 769px) {
    html {
        background-image: url('/background-small.png');
    }
}

@media screen and (min-width: 1201px) {
    html {
        background-image: url('/background-medium.png');
    }
}

@media screen and (min-width: 1601px) {
    html {
        background-image: url('/background-large.png');
    }
}

body {
    height: 100%;
}

.visually-hidden {
    display: none;
}